{% extends 'base.html' %}
{% block content %}
{% load url from future %}
<table>
  <tr>
    {% for entry in letters %}
        <td id="letter_{{ entry.letter_id }}">
            <a href="#" class="letter">{{ entry.letter }}</a>
        </td>
    {% endfor %}
  </tr>
</table>
<table class="selected">
    <tr></tr>
</table>
<input type="button" id="submit" value="Submit"/>
<script type="text/javascript">
$(document).ready(function (){
    var selected = [];
    var token = "{{ csrf_token }}";
    var session_id = "{{ session_id }}"
    $("a.letter").click(function(){
        var $this = $(this);
        var td = $this.parent()
        selected.push(td.attr('id'));
        $('table.selected').append(td);
        console.log(selected);
    })
    $('input#submit').click(function(){
        alert("I WILL SEND ARRAY");
        $.ajax({
          type: "POST",
          url: "/game/make_turn/",
          data: {
              'selected': selected,
              'csrfmiddlewaretoken': token,
              'session_id': session_id
          },
          dataType: "json"
        });
    })
})
var sock = new SockJS('{{ async_url }}/sockjs');
sock.onopen = function() {
    console.log('open');
    send_session_id()
};
sock.onmessage = function(e) {
    var eventType = e.data.event;
    if (eventType == 'new_turn'){
        console.log(e.data)
        var eventData = JSON.parse(e.data.data);
    }
};
sock.onclose = function() {
    console.log('close');
};
function send_session_id() {
    sock.send(JSON.stringify({
        event: "init",
        session_id: "{{ session_id }}",
    }))
};
</script>
{% endblock %}