{% extends 'base.html' %}
{% block head %}
    <link href="{{ STATIC_URL }}game.css" rel="stylesheet">
    <script src="http://malsup.github.com/jquery.blockUI.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="game-field">
        <div class="letters-space">
        {% for letters in rows %}
            <div class="row-fluid show-grid">
            {% for entry in letters %}
                <a href="#" class="letter">
                {% if entry.gamer %}
                    {% if entry.gamer == user_id %}
                        <div class="span1 user1" id="letter_{{ entry.letter_id }}">
                    {% else %}
                        <div class="span1 user2" id="letter_{{ entry.letter_id }}">
                    {% endif %}
                {% else %}
                    <div class="span1" id="letter_{{ entry.letter_id }}">
                {% endif %}
                        {{ entry.letter }}
                    </div>
                </a>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        <div class="selected row-fluid show-grid">
        </div>
        <br/>
        <input type="button" id="submit" value="Submit" class="btn"/>
        <input type="button" id="end_game" value="End game" class="btn"/>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function (){
    var selected = [];
    var token = "{{ csrf_token }}";
    var session_id = "{{ session_id }}";
    var current_player = "{{ is_current_player }}" === "True";
    var game_ready = "{{ ready }}" === "True";
    if (!current_player || !game_ready){
        $('div.container').block({ message: null });
    }
    $("a.letter").click(function(){
        var $this = $(this);
        var div = $($this.children());
        var let_id = div.attr('id').split('_')[1];
        if (div.hasClass('checked')){
            var index = selected.indexOf(let_id);
            selected.splice(index, 1); 
            div.removeClass('checked')
            show_word()
            return false;
        }
        if (selected.indexOf(let_id) == -1){
            selected.push(let_id);
            div.addClass('checked');
            console.log(selected);
            show_word()
        }
    });
    $('input#submit').click(function(){
        $.ajax({
            type: "POST",
            url: "/game/make_turn/",
            cache: false,
            data: {
                'selected': selected,
                'csrfmiddlewaretoken': token,
                'session_id': session_id
            },
            dataType: "json"
        }).done(function(data){
            if (data.success){
                selected = [];
                $('div.selected').html('');
                $('div.checked').removeClass('checked');
                $('div.container').block({ message: null }); 
            }
            else{
                alert(data.error)
            }
        }).fail(function(data){
            alert('Some server error');
    })
    })
    $('input#end_game').click(function(){
            $.ajax({
                type: "POST",
                url: "/game/end_game/",
                cache: false,
                data: {
                    'csrfmiddlewaretoken': token,
                    'session_id': session_id
                },
                dataType: "json"
            })
    });
    function show_word() {
        $('div.selected').html('')
        selected.forEach(function(l_id){
            $('div.selected').append($("#letter_"+l_id).html().trim())
        })
    } 
});
var sock = new SockJS('{{ async_url }}/sockjs');
sock.onopen = function() {
    console.log('open');
    send_session_id()
};
sock.onmessage = function(e) {
    console.log(e)
    var eventType = e.data.event;
    console.log(e.data)
    if (eventType == 'new_turn'){
        var eventLetters = JSON.parse(e.data.data);
        var eventUser = e.data.user;
        eventLetters.forEach(function(l_id){
            console.log(l_id);
            var user = null;
            if (eventUser == {{ user_id }}){
                user = 'user1';
                prev = 'user2';
            }
            else{
                user = 'user2';
                prev = 'user1';
                $('div.container').unblock({ message: null });
            }
            $('a.letter #letter_'+l_id).removeClass(prev);
            $('a.letter #letter_'+l_id).addClass(user);
        })
    }
    else if (eventType == 'game_ready'){
        $('div.container').unblock({ message: null });
    }
};
sock.onclose = function() {
    console.log('close');
};
function send_session_id() {
    sock.send(JSON.stringify({
        event: "init",
        session_id: "{{ session_id }}"
    }))
};
</script>
{% endblock %}
