{% extends 'base.html' %}
{% block content %}
{% load url from future %}
<div>
    <ul id="messages">
    {% for message in message_list %}
        <li>{{ message.text }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <form method="POST" id="new_message_form">{% csrf_token %}
    <input type="text" id="mes_text" name="message_text">
    <input type="submit" value="SEND">
    </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#new_message_form').submit(function() {
        var data = $(this).serialize();
        data += '&uniq_id='+uniq_id;
        var input = $('#mes_text')
        $.post('{% url "create_message" %}', data, function(data){
            console.log(data);
            $("ul#messages").append($('<li>').text(input.val()));
            input.val('');
        })
        return false;

});
})
</script>
<script>
    var sock = new SockJS('http://localhost:8001/sockjs');
    var uniq_id = null;
    sock.onopen = function() {
        console.log('open');
     };
    sock.onmessage = function(e) {
        console.log('message', e.data);
        var eventType = e.data.event;
        if (eventType == 'message-create'){
            var eventData = JSON.parse(e.data.data);
            $("ul#messages").append($('<li>').css({color: 'red'}).text(eventData.text));
        }
        else if (eventType == 'init'){
            uniq_id = e.data.uniq_id;
            console.log(uniq_id);
        }
    };
    sock.onclose = function() {
        console.log('close');
    };
</script>
{% endblock %}