.show-grid .span1 {
    background-color: #eee;
    text-align: center;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    min-height: 70px;
    min-width: 70px;
    line-height: 70px;
    height: 70px;
    font-size: 20px;
}
.show-grid .span1:hover {
    background-color: #ddd;
}
.show-grid .user1 {
    background-color: #8FBCDB;
}
.show-grid .user2 {
    background-color: #DF7782;
}
a.letter{
    color: black;
}
.show-grid .checked {
    background-color: gray;
}
.game-field {
    margin: auto;
    max-width: 350px;
}
.letters-space {
    width: 350px;
}
.score {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.user {
    display: inline;
}
.game_score {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}